.book-form-container{
  background-color: rgba(137, 43, 226, 0.18);
  form.book-form {
      display: flex;
      flex-direction: column;
      padding: 20px;
      width: 90vw;
      align-items: center;
      font-weight: 700;
      h2.form-title {
          text-align: center;
      }
      .input-section{
          display: flex;
          margin-bottom: 20px;
          width: 100%;
          @media (max-width:670px){
            flex-direction: column;
          }
          div.inputs-container {
              width: 50%;
              display: flex;
              flex-direction: column;
              @media (max-width:670px){
                width: 100%;
              }
              input.form-input {
                width: 80%;
                padding: 10px;
                border-radius: 10px;
                margin-bottom: 5px;
              }
            }
          
            div.text-areas-container {
              width: 50%;
              display: flex;
              flex-direction: column;
              justify-content: space-between;
              @media (max-width:670px){
                width: 100%;
              }
              textarea.form-input {
                  height: 40%;
                  width: 80%;
                  display: block;
              }
            }
      }
      .submit-book-form{
          background-color: rgba(52, 52, 52, 0.909);
          color: aliceblue;
          font-size: 1.1rem;
          padding: 10px;
          width: 30%;
          min-width: 150px;
          border-radius: 10px;
          cursor: pointer;
          &:hover{
            opacity: 0.9;
          }
      }
    }
    .close-book-form{
      background-color: orange;
      padding: 5px 10px;
      cursor: pointer;
    }
  }